h1 {
    color: yellow;
    text-align: center;
    background-color: black;
    font-size: 30px;
}
 .text {
    text-align: center;
    color: white;
    background-color: black;
    font-size: 15px;
 }

 .img-1 {
    width: 300px;
    background-color: black;
 }
  .inframe {
   background-color: black;
  }

 .bg-red {
   width: 300px;
   text-align: center;
   color: white;
 }

 .bg-red {
   width: 300px;
   text-align: center;
   color: white;
 }

 body {
   background-color: black;
 }

 .img-2 {
   width: 300px;
   height: 350px;
 }

 .text-2 {
   text-align: center;
   color: white;
   font-size: 15px;
 }
  blockquote {
   text-align: center;
   background-color: yellow;
   color: black;
   border-radius: 50px;
   width: 150px;
  }
  div {
   text-align: center;
  }
  .td,td,table
  {
    color: white;
    width: 1180px;

  }